---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Footer from '../components/Footer.astro';

const title = 'TrakRF - Track Tags Today!';
const description = 'RFID right now: read tags today!';
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- OpenGraph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/images/opengraph-image.png" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/images/twitter-image.png" />
	</head>
	<body>
		<Header />
		<main>
			<Hero />
			<Problem />
		</main>
		<Footer />
	</body>
</html>
